body {
	margin: 0;
	font: 16px/1.6em sans-serif;
	color: #333;
}

@media (min-width: 1600px) {
	body {
		font: 17px/1.6em sans-serif;
	}
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.img-r {
	max-width: 100%;
	height: auto;
}

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

.logo {
	background: transparent;
	display: block;
	text-decoration: none;
	text-align: center;
}

.logo .font {
	line-height: 75px;
	color: #fff;
	font-weight: bold;
	font-size: 2em;
	letter-spacing: -2px;
}

/*
body.scrolled .logo {
	width: 50px;
	height: 50px;
	background: none;
}

body.scrolled .logo .font {
	line-height: 50px;
}
*/

.container {
	padding: 0 20px;
	margin: 0 auto;
}

header.main {
	position: fixed;
	z-index: 100;
	width: 100%;
	transition: background 0.25s ease-in-out;
}

body.scrolled header.main {
	background: #111;
}

header.main nav {
	margin-left: auto;
	margin-top: 50px;
}

header.main nav a {
	line-height: 50px;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	font-size: 1.2em;
	transition: color 0.15s ease-in-out;
}

@media (min-width: 992px) {
	header.main .container {
		padding: 0 50px;
		display: flex;
	}
	header.main nav {
		margin-top: 0;
	}
	header.main nav a {
		padding: 0 20px;
		line-height: 75px;
		font-size: 1.2em;
		position: relative;
		display: inline-block;
	}
}

.emotion {
	background: #111;
	height: 95vh;
	width: 100%;
	position: relative;
}

.emotion .bg {
	opacity: 0.75;
	height: 95vh;
	width: 100%;
	background-image: url(https://images.pexels.com/photos/326514/pexels-photo-326514.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-image: url(https://images.pexels.com/photos/287229/pexels-photo-287229.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
	background-image: url(https://images.pexels.com/photos/380768/pexels-photo-380768.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-image: url(https://images.pexels.com/photos/326514/pexels-photo-326514.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	top: 0;
}

.emotion .bg:before {
	content: "";
	width: 100%;
	height: 100%;
	background: #000;
	display: block;
	opacity: 0.5;
}

.emotion .text {
	position: absolute;
	z-index: 1;
	bottom: 20px;
	left: 20px;
	color: #fff;
}

@media (min-width: 992px) {
	.emotion .text {
		bottom: 100px;
		left: 50px;
	}
}

.emotion .text h2 {
	font-size: 2em;
	line-height: 1em;
	margin: 0 0 25px;
	text-shadow: 0 2px 3px rgba(0,0,0,0.25);
}

.emotion .text h3 {
	font-size: 1.5em;
	margin: 0 0 15px;
	text-shadow: 0 2px 3px rgba(0,0,0,0.25);
}

.emotion .text .button {
	margin-top: 30px;
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 3px;
	color: #fff;
	background: #4070f4;
}

@media (min-width: 992px) {
	.emotion .text h2 {
		font-size: 3em;
	}

	.emotion .text h3 {
		font-size: 2em;
	}
}

.emotion .text-center {
	width: 70%;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    text-align: center;
}

.emotion .text-center h1 {
	color: #fff;
	font-size: 2em;
	line-height: 1.4em;
	margin: 0 auto;
	text-transform: uppercase;
	letter-spacing: 8px;
}

.emotion .text-center a {
	font-size: 1.2em;
    line-height: 1.4em;
    text-decoration: none;
    color: #eee;
    font-weight: bold;
    top: 75px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media (min-width: 992px) {
	.emotion .text-center h1 {
		font-size: 3.5em;
	}
}

main.content {
	padding: 25px 0;
	background: #eee;
	position: relative;
	z-index: 1;
}

main.content .container {
	
}

@media (min-width: 992px) {
	main.content .container {
		padding-left: 50px;
		padding-right: 50px;
	}
	main.content .row  {
		display: flex;
		margin-bottom: 10px;
	}
	main.content .row .col-6 {
		width: 50%;
	}
	main.content .row .col-6:first-child {
		margin-right: 10px;
	}
	main.content .row .col-6:last-child {
		margin-left: 10px;
	}
}

main.content section {
	min-height: 100vh;
	padding: 25px 0;
}

main.content h2.title {
	width: 48%;
	font-size: 4em;
	line-height: 1em;
	margin: 10% 0 5%;
}

main.content h3 {
	font-size: 2em;
	color: #0076ff;
}